h1, h2, p, ol, ul, a, a:link, a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align:center;
}

body {
    background-image: url("BG_winter.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;

    background-blend-mode: multiply;
    
}

